# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/sondrelg/pep585-upgrade
    rev: v1.0.1
    hooks:
    -   id: upgrade-type-hints
-   repo: https://github.com/Lucas-C/pre-commit-hooks-safety
    rev: v1.2.4
    hooks:
    -   id: python-safety-dependencies-check
        files: pyproject.toml
        args: [--full-report]
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    -   id: isort
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3
        entry: bash -c 'black --include \.pyi?$ .'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: detect-private-key
    -   id: fix-encoding-pragma
    -   id: requirements-txt-fixer
    -   id: check-added-large-files
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.950
    hooks:
        - id: mypy
          additional_dependencies: [pydantic]
# -   repo: https://github.com/PyCQA/bandit
#     rev: 1.7.4
#     hooks:
#     - id: bandit
#       args: ["--exclude", "tests"]
-   repo: https://github.com/pappasam/toml-sort
    rev: v0.20.0
    hooks:
    -   id: toml-sort
        args:
          - --all
          - --in-place
          - --no-header
          - --ignore-case
        files: pyproject.toml
-   repo: https://github.com/tox-dev/tox-ini-fmt
    rev: "0.5.2"
    hooks:
    -   id: tox-ini-fmt
        args: ["-p", "fix_lint,type"]
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v2.24.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
